<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActiproSoftware.Controls.WinForms" version="23.1.3" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.Bars" version="23.1.3" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.Docking" version="23.1.3" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.Navigation" version="23.1.3" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.Shared" version="23.1.3" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.SyntaxEditor" version="23.1.3" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.SyntaxEditor.Addons.DotNet" version="23.1.3" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.Wizard" version="23.1.3" targetFramework="net472" />
  <package id="AForge" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net472" />
  <package id="Autofac" version="8.2.0" targetFramework="net472" />
  <package id="Autofac.Extensions.DependencyInjection" version="10.0.0" targetFramework="net472" />
  <package id="BouncyCastle.Cryptography" version="2.5.1" targetFramework="net472" />
  <package id="cef.redist.x64" version="120.2.7" targetFramework="net472" />
  <package id="cef.redist.x86" version="120.2.7" targetFramework="net472" />
  <package id="CefSharp.Common" version="133.4.21" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="133.4.2" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="133.4.2" targetFramework="net472" />
  <package id="CS-Script" version="4.8.27" targetFramework="net472" />
  <package id="Dapper" version="2.1.66" targetFramework="net472" />
  <package id="Dapper.Extensions.NetCore" version="5.2.0" targetFramework="net472" />
  <package id="Dapper.Extensions.SQLite" version="5.2.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net472" />
  <package id="ExCSS" version="4.3.0" targetFramework="net472" />
  <package id="Fizzler" version="1.3.1" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="6.6.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.30.1" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.3.8" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.3.8" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.8" targetFramework="net472" />
  <package id="log4net" version="3.0.4" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.11.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.13.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.13.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp.Scripting" version="4.13.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="4.13.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Data.Sqlite" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Data.Sqlite.Core" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.3" targetFramework="net472" />
  <package id="MQTTnet" version="4.3.7.1207" targetFramework="net472" />
  <package id="MQTTnet.Extensions.ManagedClient" version="4.3.7.1207" targetFramework="net472" />
  <package id="MySql.Data" version="9.2.0" targetFramework="net472" />
  <package id="NetSpell" version="2.1.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="OpenCvSharp4" version="4.10.0.20241108" targetFramework="net472" />
  <package id="OpenCvSharp4.Extensions" version="4.10.0.20241108" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.10.0.20241108" targetFramework="net472" />
  <package id="OpenCvSharp4.Windows" version="4.10.0.20241108" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="23.7.0" targetFramework="net472" />
  <package id="PDFsharpNetStandard2" version="1.51.4845" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="RichTextBoxEx" version="1.0.0" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.1.11" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net472" />
  <package id="Svg" version="3.4.7" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="9.0.3" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.3" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.9.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.3" targetFramework="net472" />
  <package id="System.Drawing.Common" version="9.0.3" targetFramework="net472" />
  <package id="System.Formats.Asn1" version="9.0.3" targetFramework="net472" />
  <package id="System.Formats.Nrbf" version="9.0.3" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.3" targetFramework="net472" />
  <package id="System.Memory" version="4.6.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="9.0.3" targetFramework="net472" />
  <package id="System.Resources.Extensions" version="9.0.3" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="9.0.3" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.3" targetFramework="net472" />
  <package id="System.Text.Json" version="9.0.3" targetFramework="net472" />
  <package id="System.Threading.Channels" version="9.0.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net472" />
  <package id="ZstdSharp.Port" version="0.8.5" targetFramework="net472" />
</packages>